
.home-ctr{
  height: calc(100% - 50px);
  overflow: auto;
  width: 100%;
  background-color: rgb(240,240,240);
  .loading-ctr{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .highlights-ctr{
    cursor: pointer;
    min-height: 200px;
    position: relative;
    transform: scale3d(1,1,1);
    transition: all 0.5s;
    width: 100%;
    opacity: 1;
    &.hide{
      transform: scale3d(0,1,1);
      opacity: 0;
      min-height: 0px;
      width: 0%;
    }
    .featured-banner-ctr{
      background-position: center;
      background-size: cover;
      height: 150px;
      width: calc(100% - 30px);
      margin-left: 30px;
      position: relative;
      .featured-overlay{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 10px;
        font-weight: bold;
        background: linear-gradient(140deg, rgba(150,150,150,0.8) 50%, rgba(150,150,150,0.2) 100%);
        .feed-title{
          font-size: 1.5rem;
          color: #fff;
        }
        .feed-description{
          width: 40%;
          color: #fff;
          @include truncate-text;
        }
      }
    }
    .category-bg{
      position: absolute;
      height: 100%;
      width: 50px;
      background-color: rgb(250,250,250);
    }
  }
  .feed-ctr{
    .feed-detail-ctr{
      position: fixed;
      top: 60px;
      height: calc(100% - 60px);
      width: 100%;
      z-index: 4;
      background-color: #fafafa;
      transition: all 0.5s;
      .back-icon-ctr{
        .app-icon{
          fill: #333;
        }
        display: flex;
        color: #333;
        padding: 13px 3px 11px;
        background: linear-gradient(180deg, #f0f0f0 0px, rgba(240, 240, 240, 0) 40px);
      }
      &.hide{
        transform: translateX(100%);
      }
      .feed-detail{
        .feed-image{
          height: 250px;
          width: 100%;
          background-position: center;
          background-size: cover;
          position: relative;
          .like-ctr{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding-left: 20px;
            position: absolute;
            bottom: 0px;
            font-weight: bold;
            right: 0px;
            background-color: #fafafa;
            background: linear-gradient(315deg, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0) 100%);
            .like-icon-ctr{
              padding: 4px 8px;
              height: 28px;
              .app-icon{
                height: 20px;
                width: 20px;
              }
            }
          }
        }
        .feed-title{
          text-transform: uppercase;
          font-size: 1.25rem;
          padding: 10px 10px 5px;
          color: $color-primary;
        }
        .feed-tag-ctr{
          padding: 10px 10px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
        .feed-description{
          padding: 0 10px;
          line-height: 1.2rem;
        }
      }
    }
    .feed-category-ctr{
      z-index: 2;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      height: fit-content;
      position: relative;
      transition: all 0.5s;
      opacity: 1;
      &.hide{
        transform: translateX(-100%);
        opacity: 0
      }
      .category-bg{
        position: absolute;
        height: 100%;
        width: 50px;
        background-color: rgb(250,250,250);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        padding: 15px 0;
        // border-bottom: 1px solid #efefef;
      }
      .category-name-ctr{
        width: 45px;
        position: sticky;
        // height: 100%;
        top: 60px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        background-color: rgb(250,250,250);
        .category-name{
          text-transform: uppercase;
          min-width: max-content;
          transform: rotate(270deg) translateX(-50%);
          width: max-content;
          padding: 0 15px;
          background-color: rgb(250,250,250);
        }
      }
      .feed-list-ctr{
        width: calc(100% - 70px);
        // height: 100%;
        overflow: auto;
        border-bottom: 1px solid #e5e5e5;
        margin: 0 10px;
        padding: 10px 0;
      }
    }
  }
  .feed-element-ctr{
    position: relative;
    margin: 10px;
    border-radius: 5px;
    min-width: calc(100% - 20px);
    height: 100px;
    display: flex;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.09);
    .like-icon-ctr{
      position: absolute;
      bottom: 0px;
      right: 100px;
      padding: 10px;
      height: 40px;
      width: 40px;
      border-radius: 0 0 5px 0;
      // background: linear-gradient(315deg, rgba(255,255,255,0.9) 50%, rgba(255,255,255,0) 100%);
      .app-icon{
        height: 20px;
        width: 20px;
      }
    }
    .feed-image{
      border-radius: 0 5px 5px 0;
      background-position: center;
      background-size: cover;
      height: 100px;
      width: 100px;
    }
    .info-ctr{
      height: 100px;
      width: calc(100% - 100px);
      box-sizing: border-box;
      bottom: 0px;
      padding: 10px;
      .feed-title{
        font-weight: bold;
      }
      .feed-date{
        font-size: 0.75rem;
        padding: 5px 0;
      }
      .feed-description{
        width: calc(100% - 40px);
        @include multiline-ellipsis(2);
        font-size: 0.75rem;
        height: 30px;
      }
    }
  }
}
