
// imports
@import "mixins";
@import "branding";
@import "footer";
@import "home";
// imports end

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  margin: 0;
  div{
    box-sizing: border-box;
  }
  .full-height{
    height: 100%;
  }
  .full-width{
    width: 100%;
  }
  .app-view{
    background-color: rgb(240,240,240);
    height: 100vh;
    width: 100vw;
  }
}
